.spinner  {
    position: absolute;
}
.pseudo-progress {
    width: 227px;
    height: 227px;
    position: absolute;
}
.pseudo-progress #progress-text {
    margin-top: 100px;
}
.flashing {
    animation-duration: 1.7857142857142856s;
    animation-name: flashing;
    animation-iteration-count: infinite;
}
@keyframes flashing {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#game-name {
    font-family: 'Overlock', cursive;
}

.category-container {
    /* border: solid 1px lightgray; */
    /* border-radius: 4px; */
    padding: 2px;
    margin-bottom: 5px;
}
.category-container .custom-switch {
    margin-left: 3px;
}
.category-container .custom-control-input + label {
    color: #212529;
    /* color: blue; */
}
.category-container .custom-control-input.collapsed + label {
    color: gray;
}
.category-container .collapse textarea {
    /*
    * if applied by CSS takes effect
    * ONLY after rendering it within
    * its container
    */
    /* width: 100%; */
    /* resize: none; */
}

#game-conf > div {
    margin-top: 20px;
}
#game-conf .category-slider input[type="range"] {
    width: 100%;
}

#players-conf .input-group-prepend input {
    padding-left: 15px;
}

.error {
    border-color: red;
}
#rounds-conf .conf-container {
    margin-bottom: 1em;
}
#rounds-conf input[disabled] {
    background-color: white;
}
#rounds-conf input[type="range"] {
    width: 100%;
}
.player {
    margin-bottom: 15px;
}

.player.badge-light {
    color: #6c757d !important;
}

.player-stat {
    min-width: 3em;
    display: inline-block;
    padding-left: 3px;
}

.player input {
    width: 10em;
}

#ready-btn {
    margin-top: auto;
    margin-left: 2em;
    margin-bottom: auto;
    font-size: xxx-large;
}

#stats {
    margin-bottom: 15px;
    opacity: 0;
}

.border-dotted {
    border-style: dotted !important;
}

.stat-label {
    font-size: x-small;
    position: absolute;
    margin-top: .25em;
    z-index: -1;
}

.stat-value {
    font-family: 'Overlock', cursive;
    opacity: 0.9;
}

#right.stat-value {
    color: #28a745;
}

#wrong.stat-value {
    color: #dc3545;
}

#timer-container {
    height: 100%;
    border-radius: 6px;
    border: solid 1px gray;
    margin: auto;
    width: 10px;
    display: flex;
    flex-direction: column;
}
#timer {
    background-color: gray;
    margin-top: auto;
}

#next-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3em;
}

#next-btn:hover {
    color: #007bff;
    cursor: pointer;
}

#results {
    transform-origin: left top;
    position: absolute;
    display: inline;
}
.player-result {
    margin-bottom: 1em;
}
.player-name {
    display: inline-block;
    width: 100%;
}
.player-name:hover {
    color: brown;
    cursor: pointer;
}
.ranking {
    position: relative;
    bottom: 8px;
    z-index: -1;
    background-color: #007bff;
    opacity: 0.5;
    border-radius: 2px;
    height: 5px;
}
.ranking-percent {
    font-size: x-small;
    margin-top: -1em;
}
.race-window {
    z-index: -1;
    border-left: dotted 1px gray;
    border-right: dotted 1px gray;
    position: absolute;
    top: 0%;
    height: 100%;
}

