<div class="container">
    <div class="row">
        <div id='rounds' class="small col-12">
            <div id='rounds-counter'></div>
            <div id='rounds-progress'></div>
        </div>
    </div>
    <div class="row">
        <div id="players" class="col-2"></div>

        <div id="board" class="col-7">
            <button 
                id="ready-btn" 
                onclick="start()" 
                class="btn btn-primary btn-lg bth-block" 
                style="opacity: 0;"
                type="button"
            >
                (click para continuar)
            </button>

            <div id="stats" class="container d-none">
                <div class="row">
                    <div class="col-3 border border-dotted border-success rounded-lg">
                        <div class="stat-label text-uppercase">
                            Correctas:
                        </div>
                        <div id="right" class="stat-value text-center display-4">0</div>
                    </div>
                    
                    <div class="col-1">
                    </div>

                    <div id="wrong-box" class="col-3 border border-dotted border-danger rounded-lg">
                        <div class="stat-label text-uppercase">
                            Incorrectas:
                        </div>
                        <div id="wrong" class="stat-value text-center display-4">0</div>
                    </div>
                </div>
            </div>

            <div id="questionaire" class="jumbotron col-7 d-none">
                <div id="timer"></div>
                <div>
                    <svg id="next-btn" onclick="next()" class="bi bi-caret-right-fill d-none" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                    </svg>
                </div>
                
                <h2 id='player-name' class="display-4"></h2>
                <p id="question" class="lead"></p>
                <hr class="my-4"/>
                <div id="show-options">
                    <button type="button" class="btn btn-primary" onclick="showOptions()">¿Listo(a)?</button>
                    <button type="button" class="btn btn-light" style="float: right;" onclick="changeQuiz()">Cambiar la pregunta</button>
                </div>
                <div id="options" class="d-none"></div>
            </div>
        </div>
    </div>
    
    <script>
        var roundCount = 0;

        function init() {
            if (scheduler.players.length == 0) {
                window.location.hash = '#home';
                return;
            }

            scheduler.players.forEach(player => {
                var div = document.createElement('div');
                div.className = 'player badge badge-light';
                var label = document.createElement('div');
                label.textContent = player.category;
                div.appendChild(label);
                var div2 = document.createElement('div');
                div.appendChild(div2);
                var input = document.createElement('input');
                input.type = 'text';
                input.value = player.name;
                input.addEventListener('input', function(obj) {
                    var i = obj.target;
                    player.name = i.value;
                    if (i.parentNode.parentNode.classList.contains('active')) {
                        $('player-name').textContent = i.value;
                    }
                });
                div2.appendChild(input);
                var stat = document.createElement('span');
                stat.className = 'player-stat text-right';
                div2.appendChild(stat);

                player.stats.addEventListener(GameStats.STATS_CHANGED_EVENT, updateBoardStats);
                player.stats.addEventListener(GameStats.STATS_CHANGED_EVENT, function() {
                    stat.textContent = Math.floor(100*player.stats.correctness) + '%';
                });
                $('players').appendChild(div);
            });

            $('timer').addEventListener("animationend", whenTimeout);
            $('timer').style.animationDuration = Game.timeout + 's';

            if (Number(getComputedStyle($('app')).opacity) != 1) {
                // fadeIn($('app'));
                $('app').style.opacity = 1;
                setTimeout(function(){
                    fadeIn($('ready-btn'));
                }, 500);
            }
        }

        function createRoundStats() {
            var totalRounds = scheduler.getTotalRounds();
            var progressBarLength = widthProgressBar(totalRounds);

            $('rounds-counter').textContent = "Ronda 1 de " + totalRounds;

            for(var i = 0; i < totalRounds; i++) {

                var div = document.createElement('div');
                div.id = "progress-container-" + i;
                div.className = 'progress-container';
                div.style['width'] = progressBarLength + 'px';
                var div2 = document.createElement('div');
                div2.id = "progress-bar-" + i;
                div2.className = "myprogress-bar";
                div2.style['width'] = '0%';
                div2.style['height'] = "100%";
                div2.style['background-color'] = "#007bff";
                div.appendChild(div2);
                $('rounds-progress').appendChild(div);
            }

            $('rounds').style.opacity = 0;
        }
        function widthProgressBar(totalRounds) {
            var startPosition = $('rounds-progress').getBoundingClientRect();
            var endPosition = $('wrong-box').getBoundingClientRect();
            var totalLength = endPosition.x + endPosition.width - startPosition.x;

            return ((totalLength - (totalRounds - 1) * 2))/totalRounds;
        }
        function updateRoundStats() {
            var playerIndex = scheduler.currentPlayerIndex();
            var totalPlayers = scheduler.getTotalPlayers();
            var totalRounds = scheduler.getTotalRounds();
            var currentRound = scheduler.getCurrentRound();

            $('rounds-counter').textContent = "Ronda " + currentRound + " de " + totalRounds;

            // Fill rounds done
            for(var i = 0; i < currentRound - 1; i++) {
                $('progress-bar-' + i).style['width'] = '100%';
            }

            // Fill current round
            var pos = currentRound - 1;
            var progress_bar_id = 'progress-bar-' + pos;
            $(progress_bar_id).style['width'] = (((playerIndex + 1) * 100) / totalPlayers ) + '%';

            // Show the hidden <div> with id='rounds'
            if (Number(getComputedStyle($('rounds')).opacity) != 1) {
                $('rounds').style.opacity = 1;
                setTimeout(function(){
                    fadeIn($('rounds'));
                }, 500);
            }
        }

        function resetTimer() {
            $('timer').style.animationPlayState = 'paused';
            activateClassName($('timer'), 'animated');
        }
        function pauseTimer() {
            $('timer').style.animationPlayState = 'paused';
        }
        function startTimer() {
            $('timer').style.animationPlayState = 'running';
        }
        function whenTimeout() {
            pauseTimer();

            var btns = document.getElementsByClassName('response');
            var game = scheduler.currentGame();
            for(var i = 0; i < btns.length; i++) {
                btns[i].disabled = true;
                var answerStyle = 'btn-danger';
                if (game.checkAnswer(btns[i].textContent)) {
                    answerStyle = 'btn-success';
                }
                btns[i].classList.remove('btn-light');
                btns[i].classList.add(answerStyle);
            }
            var player = scheduler.currentPlayer();
            player.stats.newWrongAnswer();
            $('next-btn').classList.remove('d-none');
        }

        function updateBoardStats(statEvent=null) {
            function _updateValue() {
                updatedElem.textContent = statEvent.newValue;
                updatedElem.removeEventListener('animationend', _updateValue);
            }
            
            var player = scheduler.currentPlayer();
            if (!statEvent) {
                $('right').textContent = player.stats.correctAnswers;
                $('wrong').textContent = player.stats.wrongAnswers;
                return;
            }
            
            if (statEvent.instance != player.stats) {
                return;
            }

            var updatedElem = null;
            switch (statEvent.causedBy) {
                case statEvent.instance.newWrongAnswer.name:
                    updatedElem = $('wrong');
                    break;
                case statEvent.instance.newCorrectAnswer.name:
                    updatedElem = $('right');
                    break;
            }

            updatedElem.addEventListener('animationend', _updateValue);
            activateClassName(updatedElem, 'scored');
        }
        function showOptions() {
            $('show-options').classList.add('d-none');
            $('options').classList.remove('d-none');
            startTimer();
        }
        function changeQuiz() {
            if (scheduler.reScheduleQuiz()) {
                updateQuiz(scheduler.currentGame().currentQuiz());
                return true;
            }
            return false;
        }
        function checkResponse(btn) {
            pauseTimer();

            $('next-btn').classList.remove('d-none');
            
            var btns = document.getElementsByClassName('response');
            for (var i = 0; i < btns.length; i++) {
                btns[i].disabled = true;
            }

            var game = scheduler.currentGame();
            var player = scheduler.currentPlayer();
            var answerStyle = 'btn-danger';
            if (game.checkAnswer(btn.textContent, player.stats)) {
                answerStyle = 'btn-success';
            }
            btn.classList.remove('btn-light');
            btn.classList.add(answerStyle);
        }
        function next() {
            $('next-btn').classList.add('d-none');

            var status = scheduler.next();
            if (! status) {
                alert('Hemos llegado al final.\nPasemos a las conclusiones...');
                fadeOut($('app'), function(){
                    window.location.hash = '#summary';
                });
                return;
            }
            var quiz = status.quiz;
            var player = scheduler.currentPlayer();
            // this is not the right way to proceed
            // but given that we don't have user
            // profiles so far...
            if (quiz.thanksTo
                    && quiz.thanksTo == player.name
                    && scheduler.reScheduleQuiz()) {
                console.log('re-scheduling quiz for current player');
                quiz = scheduler.currentGame().currentQuiz();
            }

            $('show-options').classList.remove('d-none');
            $('options').classList.add('d-none');

            var playerBadgesList = document.getElementsByClassName('player badge');
            for (var i = 0; i < playerBadgesList.length; i++) {
                var playerBadge = playerBadgesList[i];
                if (i == scheduler.currentPlayerIndex()) {
                    playerBadge.classList.add('active');
                    playerBadge.classList.remove('badge-light');
                    playerBadge.classList.add('badge-secondary');
                } else {
                    playerBadge.classList.remove('active');
                    playerBadge.classList.remove('badge-secondary');
                    playerBadge.classList.add('badge-light');
                }
            }
            $('player-name').textContent = player.name;
            updateBoardStats();

            updateQuiz(quiz);
            resetTimer();
        }
        function updateQuiz(quiz) {
            $('question').innerHTML = quiz.question;
            $('options').innerHTML = '';
            var columnWidth = Math.floor(12 / quiz.options.length) - 1;
            if (columnWidth < 1) {
                columnWidth = 3;
            }

            var row = document.createElement('div');
            row.className = 'row';
            $('options').appendChild(row);
            var answers = shuffle(deepCopy(quiz.options));
            for(var i = 0; i < answers.length; i++) {
                var r = document.createElement('button');
                r.type = 'button';
                r.className = 'btn btn-light response';
                r.setAttribute('onclick', 'checkResponse(this)');
                r.appendChild(document.createTextNode(answers[i]));

                var col = document.createElement('div');
                col.setAttribute('class', 'col-'+columnWidth);
                col.appendChild(r);

                row.appendChild(col);
            }
            updateRoundStats();
        }

        function start() {
            fadeOut($('ready-btn'), function(){
                $('ready-btn').className = 'd-none';
                $('stats').classList.remove('d-none');
                createRoundStats();
                fadeIn($('stats'), function(){
                    setTimeout(function(){
                        next();
                        setTimeout(function(){
                            $('questionaire').classList.remove('d-none');
                        }, 1000);
                    }, 1000);
                });
            });
        }

        init();
    </script>
</div>