<div class="container"> 
    <div class="row">
        <div class="col-3">
            ¿Cuántos jugadores tendremos?
        </div>
        +
        <div class="col-3">
            ¿Cómo jugaremos?
        </div>
        +
        <div class="col-3">
            <button
                id="setup-btn"
                class="btn btn-primary"
                onclick="setup()"
            >
                Configurar
            </button>
        </div>
    </div>
    
    <div id="game-conf" class="row">
        <div id="players-conf" class="col-3">
        </div>
        <div id="rounds-conf" class="col-3">
        </div>
    </div>

    <script>
        function init() {
            $('game-name').textContent = gameName;

            Game.categories.forEach(category => {
                if (category == Game.WILDCARD_CATEGORY) {
                    return;
                }

                var idifiedCategory = 'i-'+category.replace(/ /g, '_');

                var container = document.createElement('div');
                container.className = 'category-container';

                var switchDiv = document.createElement('div');
                switchDiv.className = "custom-control custom-switch";
                container.appendChild(switchDiv);

                var input = document.createElement('input');
                input.setAttribute('role', 'button');
                input.setAttribute('data-toggle', 'collapse');
                input.setAttribute('href', '#'+idifiedCategory+'-names');
                input.type = "checkbox";
                input.className = 'custom-control-input collapsed';
                input.id = idifiedCategory+'-switch';
                input.setAttribute('aria-expanded', false);
                switchDiv.appendChild(input);

                var label = document.createElement('label');
                label.className = 'custom-control-label';
                label.setAttribute('for', input.id);
                label.textContent = category;
                switchDiv.appendChild(label);

                var badge = document.createElement('div');
                badge.className = 'badge badge-pill badge-secondary quiz-amount';
                badge.textContent = pluralize(Game.getQuizzesAmount(category), 'pregunta');
                label.appendChild(badge);

                var collapsable = document.createElement('div');
                collapsable.className = 'collapse';
                collapsable.id = idifiedCategory+'-names';
                container.appendChild(collapsable);

                var textarea = document.createElement('textarea');
                textarea.setAttribute('data-category', category);
                textarea.rows = 5;
                textarea.style.width = '100%';
                textarea.style.resize = 'none';
                collapsable.appendChild(textarea);
                
                $('players-conf').append(container);
            });

            [
                {
                    id: 'rounds',
                    label: 'Rondas:',
                    prefix: '',
                    sufix: '',
                    min: 1,
                    max: 10,
                    value: 3
                },
                {
                    id: 'timeout',
                    label: 'Tiempo para responder:',
                    prefix: '',
                    sufix: ' s',
                    min: 1,
                    max: 20,
                    value: 10
                }
            ].forEach(conf => {
                var container = document.createElement('div');
                container.className = 'conf-container';

                var ig = document.createElement('div');
                ig.className = 'input-group';
                container.appendChild(ig);

                var igp = document.createElement('div');
                igp.className = 'input-group-prepend';
                ig.appendChild(igp);

                var span = document.createElement('span');
                span.className = 'input-group-text';
                span.id = conf.id + '-label';
                span.textContent = conf.label;
                igp.appendChild(span);

                var it = document.createElement('input');
                it.className = 'form-control';
                it.type = 'text';
                it.setAttribute('aria-describedby', span.id);
                it.disabled = true;
                it.value = conf.prefix + conf.value + conf.sufix;
                ig.appendChild(it);

                var ir = document.createElement('input');
                ir.id = conf.id + '-id';
                ir.type = 'range';
                ir.min = conf.min;
                ir.max = conf.max;
                ir.value = conf.value;
                ir.addEventListener('input', function(){
                    it.value = conf.prefix + ir.value + conf.sufix;
                });
                container.appendChild(ir);

                $('rounds-conf').appendChild(container);
            });
            
            var groupContainer = document.createElement('div');
            groupContainer.className = 'conf-container group-container';

            var groupHeader = document.createElement('span');
            groupHeader.className = 'group-header';
            groupHeader.textContent = 'Aleatorizar';
            groupContainer.appendChild(groupHeader);

            [
                {
                    id: 'shuffle-categories',
                    label: 'Orden de las categorías',
                    checked: true
                },
                {
                    id: 'shuffle-players',
                    label: 'Jugadores por categorías',
                    checked: true
                },
                {
                    id: 'merge-categories',
                    label: 'Intercalar categorías',
                    checked: true
                }
            ].forEach(rndOption => {
                var checkContainer = document.createElement('div');
                checkContainer.className = 'form-check';
                
                var input = document.createElement('input');
                input.className = 'form-check-input';
                input.type = 'checkbox';
                input.checked = rndOption.checked;
                input.id = rndOption.id;
                checkContainer.appendChild(input);
                
                var label = document.createElement('label');
                label.className = 'form-check-label';
                label.setAttribute('for', input.id);
                label.textContent = rndOption.label;
                checkContainer.appendChild(label);

                groupContainer.appendChild(checkContainer);
            });
            $('rounds-conf').appendChild(groupContainer);


            if (Number(getComputedStyle($('app')).opacity) != 1) {
                // fadeIn($('app'));
                $('app').style.opacity = 1;
            }
        }

        function setup() {
            $('rounds-id').classList.remove('error');
            var rounds = Number($('rounds-id').value);
            var textareas = $('players-conf').getElementsByTagName('textarea');
            var players = [];
            var errors = false;
            for (var i = 0; i < textareas.length; i++) {
                var elem = textareas[i];
                elem.classList.remove('error');
                if (! elem.parentElement.classList.contains('show')) {
                    continue;
                }
                var category = elem.getAttribute('data-category');
                var names = elem.value.split(/\n/).filter(n => n.length > 0);
                if (Game.getQuizzesAmount(category) / names.length < rounds) {
                    $('rounds-id').classList.add('error');
                    elem.classList.add('error');
                    errors = true;
                }
                for (var j = 0; j < names.length; j++) {
                    players.push({
                        name: names[j],
                        category: category
                    });
                }
            }
            if (players.length == 0 || errors) {
                alert('Algo anda mal...');
                return;
            }
            Game.timeout = Number($('timeout-id').value);
            scheduler.init(rounds, players, {
                shuffleCategories: $('shuffle-categories').checked,
                shufflePlayers: $('shuffle-players').checked,
                mergeCategories: $('merge-categories').checked
            });
            fadeOut($('app'), function() {
                window.location.hash = '#game';
            });
        }

        init();
    </script>
</div>