<div class="container-fluid">
    <div class="container">
        <div class="loadingio-spinner-ripple-bb4dp9har9i spinner">
            <div class="ldio-16a7fmmm635">
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="pseudo-progress text-center">
            <div id="progress-text"></div>
        </div>

        <div id="results"></div>
    </div>
</div>

<script>
    function msg1() {
        $('progress-text').textContent = 'Obteniendo estadísticas...';
        setTimeout(msg2, 1500);
    }

    function msg2() {
        $('progress-text').textContent = 'Calculando resultados...';
        setTimeout(msg3, 1500);
    }

    function msg3() {
        $('progress-text').textContent = 'Listo. Ahí van las conclusiones...';
        setTimeout(showResults, 1500);
    }

    function showResults() {
        var pseudoProgress = document.getElementsByClassName('pseudo-progress')[0];
        pseudoProgress.classList = 'd-none';
        
        var spinner = document.getElementsByClassName('spinner')[0];
        spinner.style['position'] = 'relative';

        for (var i = 0; i < scheduler.players.length; i++) {
            var pr = document.createElement('div');
            pr.className = 'player-result';
            
            var pn = document.createElement('span');
            pn.className = 'player-name display-4 text-right';
            pn.title = 'Correctas: ' 
                        + scheduler.players[i].stats.correctAnswers 
                        + ' de '
                        + scheduler.players[i].stats.totalAnswers;
            pn.textContent = scheduler.players[i].name;
            pr.appendChild(pn);

            var r = document.createElement('div');
            r.className = 'ranking';
            pr.appendChild(r);

            var p = document.createElement('div');
            p.className = 'ranking-percent text-right';
            p.style.opacity = 0;
            p.textContent = '0%';
            pr.appendChild(p);

            $('results').appendChild(pr);
            initialWidth = Math.max(initialWidth, pr.offsetWidth);
        }

        var raceWindow = document.createElement('div');
        raceWindow.className = 'race-window';
        raceWindow.style.width = rankingWindow + 'px';
        raceWindow.style.left = initialWidth + 'px';
        $('results').appendChild(raceWindow);

        var scale = maxHeight / parseFloat(getComputedStyle(raceWindow).height);
        if (scale < 1) {
            $('results').style.transform = 'scale(' + scale + ')';
        }

        fadeOut(spinner, function(){
            setTimeout(startProgress, 1500);
        });
    }

    var percentInc = 2;
    var percent = percentInc;
    var initialWidth = 0;
    var rankingWindow = 600;
    var maxHeight = 600;
    function setProgress(){
        var arr1 = document.getElementsByClassName('player-name');
        var arr2 = document.getElementsByClassName('ranking');
        var pArr = document.getElementsByClassName('ranking-percent');
        for (var i = 0; i < scheduler.players.length; i++) {
            var stats = scheduler.players[i].stats;
            var maxTop = rankingWindow * stats.correctness;

            var x = initialWidth + maxTop*percent/100;
            arr1[i].style.width = x + 'px';
            arr2[i].style.width = x + 'px';
            pArr[i].style.width = x + 'px';
            pArr[i].textContent = (percent*stats.correctness).toFixed(0) + '%';
        }
        if (percent < 100) {
            percent = Math.min(percent + percentInc, 100);
            setTimeout(setProgress, 30);
        }
    }
    function startProgress() {
        [
            'player-name',
            'ranking',
            'raking-percent'
        ].forEach(className => {
            var arr = document.getElementsByClassName(className);
            for (var i = 0; i < arr.length; i++) {
                arr[i].style.width = initialWidth + 'px';
            }
        });
        var arr = document.getElementsByClassName('ranking-percent');
        for (var i = 0; i < arr.length; i++) {
            arr[i].style.opacity = 1;
        }

        setTimeout(setProgress, 1000);
    }


    if (Number(getComputedStyle($('app')).opacity) != 1) {
        fadeIn($('app'), msg1);
    }
</script>